<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>org.dp.wechat.servlet.CoreServlet</servlet-class>
    <init-param>
      <param-name>appid</param-name>
      <param-value>wxf68de07d90a0837a</param-value>
    </init-param>
    <init-param>
      <param-name>appsecret</param-name>
      <param-value>23cc74b30d85d7a2d2fd2210d109ca18</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>org.dp.wechat.servlet.OAuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.dp.excel2db.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Excel2DBServlet</servlet-name>
    <servlet-class>org.dp.excel2db.Excel2DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excel2DBServlet</servlet-name>
    <url-pattern>/Excel2DBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/OAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/CoreServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PoiExport</display-name>
    <servlet-name>PoiExport</servlet-name>
    <servlet-class>org.db.db2excel.PoiExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoiExport</servlet-name>
    <url-pattern>/PoiExport</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>CurrentInfo</servlet-name>
    <servlet-class>org.dp.wechat.servlet.CurrentInfo</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CurrentInfo</servlet-name>
    <url-pattern>/CurrentInfo</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>HistoryInfo</servlet-name>
    <servlet-class>org.dp.wechat.servlet.HistoryInfo</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>HistoryInfo</servlet-name>
    <url-pattern>/HistoryInfo</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>Erweima</servlet-name>
    <servlet-class>org.dp.wechat.servlet.Erweima</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>Erweima</servlet-name>
    <url-pattern>/Erweima</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AddInfo</servlet-name>
    <servlet-class>org.dp.wechat.servlet.AddInfo</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>AddInfo</servlet-name>
    <url-pattern>/AddInfo</url-pattern>
  </servlet-mapping>
</web-app>